
<h1 class="text-center mt-5">APi With JSONPlaceHolder</h1>

<div class="container mt-5 d-flex justify-content-around flex-wrap">
    
    <div class="card mb-3" style="width: 18rem;">
        <img src="../../assets/Users.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">All Users</h5>
            <p class="card-text">the user is recovered from the site JSONPlaceHolder.com</p>
            <a href="#" class="btn btn-primary" routerLink="/users">Click here for see All Users</a>
        </div>
    </div>

    <div class="card mb-3" style="width: 18rem;">
        <img src="../../assets/comments.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">All Commets</h5>
            <p class="card-text">All comments is recovered from the site JSONPlaceHolder.com</p>
            <a href="#" class="btn btn-primary" routerLink="/posts">Click here for see All Comments</a>
        </div>
    </div>
</div>






